@use 'utilities/variables';
@use 'base/reset';
@use 'base/general';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/index';
@use 'layout/catalogo';
@use 'layout/contactos';
@use 'layout/como-comprar';
@use 'layout/sobre-nosotros';
@use 'layout/mediaqueries';
@use 'components/botones';
@use 'components/form';

