@use '../utilities/variables';

/* BANNER CATÁLOGO */

.banner-catalogo {
    position: relative;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding-left: 48px;
        display: flex;
        align-items: center;
        font-size: 3rem;
        font-weight: 800;
        color: variables.$color-gris;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    }
}

/* STYLE CATÁLOGO */

.catalogo {
    text-align: center;

    h2 {
        display: inline-block;
        background-color: variables.$color-verde-claro;
        color: variables.$color-gris;
        padding: 10px 20px;
        font-weight: 800;
        border-radius: 10px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 24px;
    }
}

.img-catalogo {
    width: 250px;
}

.card-boton {
    background-color: variables.$color-naranja-claro;
    color: variables.$color-gris;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    font-size: 12px;

    &:hover {
        background-color: variables.$color-naranja-oscuro;
    }
}

