@use '../utilities/variables';
@use '../utilities/mixins' as *;

/* BANNER CATÁLOGO */

.banner-catalogo {

    @include main-banner(20px);

    img {
        @include main-banner-img;
    }

    h1 {
        @include main-banner-h1;
    }
}

/* STYLE CATÁLOGO */

.catalogo {
    text-align: center;

    h2 {
        display: inline-block;
        background-color: variables.$color-verde-claro;
        color: variables.$color-gris;
        padding: 10px 20px;
        font-weight: 800;
        border-radius: 10px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 24px;
    }
}

.img-catalogo {
    width: 250px;
}

.card-boton {
    background-color: variables.$color-naranja-claro;
    color: variables.$color-gris;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    font-size: 12px;

    &:hover {
        background-color: variables.$color-naranja-oscuro;
    }
}