@use '../utilities/variables';
@use '../utilities/mixins' as *;

/* STYLE CONTACTOS */

.banner-contactos {

    @include main-banner(20px);

    img {
        @include main-banner-img;
    }

    h1 {
        @include main-banner-h1;
    }
}


.title-contacto {
    text-align: center;

    h1 {
        display: inline-block;
        background-color: variables.$color-verde-claro;
        color: variables.$color-gris;
        padding: 10px 20px;
        font-weight: 800;
        border-radius: 10px;
        margin-bottom: 8px;
        margin-top: 25px;
        font-size: 24px;
    }

    h3 {
        color: variables.$color-verde-oscuro;
        padding: 8px 15px;
        font-weight: 600;
        margin-bottom: 25px;
        margin-top: 8px;
        font-size: 16px;
    }
}


/* Post Formulario */

.contacto-box {
    max-width: 500px;
    margin: 32px auto;
    padding: 20px;
    background-color: variables.$color-gris;
    border-left: 5px solid variables.$color-verde-masclaro;
    border-radius: 8px;
    text-align: center;

    h2 {
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 12px;
        color: variables.$color-verde-oscuro;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 13px;
        gap: 8px;
        justify-content: center;
        margin-bottom: 8px;
        padding-left: 20px;
        position: relative;
        line-height: 1.4;
    }

    li::before {
        position: absolute;
        left: 0;
        top: 0.1em;
    }
}

.icon-phone::before {
    content: "📞";
    position: absolute;
    left: 0;
}

.icon-mail::before {
    content: "✉️";
    position: absolute;
    left: 0;
}

.icon-ig::before {
    content: "📷";
    position: absolute;
    left: 0;
}