/* STYLE FOOTER */

.footer {
    background-color: variables.$color-gris;
    padding: 20px 16px;
    padding-bottom: 10px;

    h4 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: variables.$color-verde-oscuro;
    }
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-nav, .footer-redes {
    h4 {
        margin-bottom: 12px;
        font-size: 12px;
    }
}

.footer-nav {
    ul {
       list-style: none;
        padding: 0;
        margin: 0; 

        > li {
            font-size: 10px;
            margin-bottom: 16px;
            font-weight: 500;
        }
    }

    a {
        text-decoration: none;
        color: variables.$color-negro;
    }

    a:hover {
        text-decoration: underline;
    }
}

.footer-submenu {
    margin-top: 8px;
    padding-left: 16px;

    li {
        margin-bottom: 6px;
        margin-top: 6px;
        font-size: 8px;
        list-style: disc;
    }
}

/* Redes */
.redes-icons {
    display: flex;
    gap: 16px;
    align-items: center;

    img {
        max-width: 28px;
        opacity: 0.8;
    }

    img:hover {
        opacity: 1;
    }
}

