@use '../utilities/variables';
@use '../utilities/mixins' as *;

/* BANNER HOME */

.banner-home {
    height: 60vh;
    background-image: url("../img/bannerhome-adaptado.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


/* MOSAICOS HOME */

.menu-mosaicos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding: 20px 0;
}

.mosaico-item {
    place-items: center;
    gap: 14px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: inherit;

    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-4px);
    }

    img {
        transition: transform 0.2s ease;
    }

    &:hover img {
        transform: scale(1.05);
    }

}

.mosaico-imagen {
    margin-top: 30px;
    max-width: 100px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 15px;
    border: 0.5px solid variables.$color-verde-oscuro;
}

.text-mosaico-home {
    color: variables.$color-verde-oscuro;
    background-color: variables.$color-verde-masclaro;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;

    &:hover {
        background-color: variables.$color-naranja-claro;
    }
}

/* PRODUCTOS DESTACADOS */

.produdestac-home {
    width: 180px;
}

.card {
    margin: 10px;
}

/* QUERES HACER UN PEDIDO - HOME */

.querespedir-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/banner-cajasdepositoII.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    h3{
        font-size: 20px;
    }
}


.boton-contact-home {
    background-color: variables.$color-verde-oscuro;
    color: variables.$color-gris;
    font-weight: bold;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    height: 48px;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    box-shadow:
        rgba(45, 35, 66, 0.2) 0 2px 4px,
        rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
        #d6d6e7 0 -3px 0 inset;
    transition: box-shadow 0.15s, transform 0.15s;

    &:focus{
        box-shadow:
            #d6d6e7 0 0 0 1.5px inset,
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;

    }
    
    &:hover{
        box-shadow:
            rgba(45, 35, 66, 0.3) 0 4px 8px,
            rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
    }
    
} 


