@use '../utilities/variables';
@use '../utilities/mixins' as *;

/* STYLE SOBRE NOSOTROS */

.banner-sobrenosotros {

    @include main-banner(0px);
    min-height: 320px;

    img {
        @include main-banner-img;
    }

    h1 {
        @include main-banner-h1;
    }
}

.sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    align-items: center;
}

.titulo-seccion {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;

    span {
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        background-color: variables.$color-verde-claro;
        color: variables.$color-gris;
        padding: 10px 20px;
        font-weight: 800;
        border-radius: 10px;
        margin-bottom: 8px;
        margin-top: 25px;
        font-size: 24px;
    }
}

.texto-sobrenosotros p {
    margin-bottom: 16px;
    line-height: 1.6;
    justify-content: center;
}

.imagen-sobrenosotros img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.persona-sobrenosotros {
    text-align: center;

    img {
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 12px;
    }

    h4 {
        margin-bottom: 4px;
    }
}