/* STYLE SOBRE NOSOTROS */

.banner-sobrenosotros {
    position: relative;
    height: 40vh;
    min-height: 320px;
    overflow: hidden;
    margin-bottom: 0px;
}

.banner-sobrenosotros img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-sobrenosotros h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 48px;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: variables.$color-gris;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    align-items: center;
}

.titulo-seccion {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

.titulo-seccion span {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    background-color: variables.$color-verde-claro;
    color: variables.$color-gris;
    padding: 10px 20px;
    font-weight: 800;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-top: 25px;
    font-size: 24px;
}

.texto-sobrenosotros p {
    margin-bottom: 16px;
    line-height: 1.6;
    justify-content: center;
}

.imagen-sobrenosotros img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.persona-sobrenosotros {
    text-align: center;
}

.persona-sobrenosotros img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 12px;
}

.persona-sobrenosotros h4 {
    margin-bottom: 4px;
}
