@use '../utilities/variables';

@mixin main-banner($margin-bottom) {
    position: relative;
    height: 40vh;
    overflow: hidden;
    margin-bottom: $margin-bottom;
}

@mixin main-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin main-banner-h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding-left: 48px;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: variables.$color-gris;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}