$fuente: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$color-gris: #F2F2F2;
$color-verde-oscuro: #022601;
$color-verde-claro: #1F733C;
$color-verde-masclaro: #2dd668;
$color-naranja-oscuro: #BF3617;
$color-naranja-claro: #F29C50;
$color-negro: black;
