@use '../utilities/variables';

body {
    font-family: variables.$fuente;
    display: flex;
    flex-direction: column;
}

/* TITULOS Y TEXTOS GENERALES */

h1 {
    color: #12482e;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

h2 {
    color: variables.$color-negro;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    color: variables.$color-negro;
    font-size: 16px;
    font-weight: bold;
}

h4 {
    color: variables.$color-negro;
    font-size: 14px;
    font-weight: bold;
}

p {
    color: variables.$color-negro;
    font-size: 14px;
}


