* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* STYLE HEADER */

header{
    background-color: #f2f2f2;
    
}

.logo-header{
    width: 100px;
}

.nav-bgcolor{
    background-color: #f2f2f2;
}

.navbar-nav{
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.navbar-nav,.nav-buttons:last-child{
    margin-bottom: 0;
}

.nav-buttons{
    color: #022601;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
}

.navbar-toggler{
    border: none;
    padding-right: 0;
}

.navbar-toggler-icon {
  width: 1.1rem;
  height: 1rem;
  background-size: 1.5rem 1.5rem;
}

.navbar-toggler:focus,.navbar-toggler:focus-visible{
    outline: none;
    box-shadow: none;
}



/* BANNER HOME */

.banner-home{
    height: 60vh;
    background-image: url("../img/bannerhome-adaptado.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


/* MOSAICOS HOME */

.menu-mosaicos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 16px;
    padding: 20px 0;
}

.mosaico-item{
    place-items: center;
    gap: 14px;
    text-align: center;
}

.mosaico-imagen{
    margin-top: 30px;
    max-width: 100px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 15px;
    border: 0.5px solid #022601;
}

.text-mosaico-home{
    color: #022601;
    background-color: #2dd668;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
}

.text-mosaico-home:hover{
    background-color: #F29C50;
}

/* TITULOS Y TEXTOS GENERALES */

h1{
    color:#12482e;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    padding: 10px;
}

h2{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

h3{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

h4{
    color: black;
    font-size: 14px;
    font-weight: bold;
}

p{
    color: black;
    font-size: 14px;
}

/* PRODUCTOS DESTACADOS */

.produdestac-home{
    width: 180px;
}

.card{
    margin: 10px;
}

/* QUERES HACER UN PEDIDO - HOME */

.querespedir-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/banner-cajasdepositoII.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.boton-contact-home{
    background-color: #022601;
    color: #F2F2F2;
    font-weight: bold;
    padding: 12px 32px;
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
}

/* .boton-contact-home{
    text-align: center;
    text-decoration: none;
    background-color: #022601;
    color: #2dd668;
    text-decoration-color: #2dd668;
} */

/* BOTONES */

.botones{
    text-align: center;
    color: rgb(224, 109, 1);
}

/* STYLE FOOTER */

.footer-nav1{
    font-weight: bold;
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.footer-nav1{
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.logorss-footer{
    width: 16px;
}

/* STYLE CATÁLOGO */

.img-catalogo{
    width: 250px;
}

/* STYLE CONTACTOS */

.input-form{
    font-weight: bold;
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.radiobutton-form{
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: lighter;
}

.contactos-lista{
    color: black;
    font-size: 12px;
    text-decoration: none;
    font-weight: lighter;
}

/* MEDIA QUERY */

@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row;
        gap: 2rem;
        padding: 0;
        text-align: end;
    }
}